# Ignore Logs
logs
*.log
*.egg-info

# Ignore Cache
**/__pycache__/

# Ignore the credentials directory
**/credentials

# Ignore Databases
*.json
**/snapshots
**/data

# Ignore Notebooks
**/notebooks

# Ignore Image
**/images

# Ignore local files
**.code-workspace
