# Ignore Logs
logs
*.log
*.egg-info

# Ignore Cache
**/__pycache__/

# Ignore the credentials directory
**/credentials

# Ignore Data
**/data
**/htmlcov

# Ignore Notebooks
**/notebooks

# Ignore local files
.**
